<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>FLOWERS</h1>
        <h1>There are so many beautiful flowers are there some of them are :</h1>
        <h1>1.Jamisine</h1>
        <h1>2.Rose</h1>
        <h1>etc..........</h1>
        <a href="{% url 'vegetables' %}">vegetables</a>
        <a href="{% url 'specific:fruits' %}">fruits</a>
    </center>
</body>
</html>