<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>VEGETABLES</h1>
        <h1>There are so many types of vegetables are there. Some are:</h1>
        <h1>1.Carrot</h1>
        <h1>2.tomato</h1>
        <h1>etc..........</h1>
        <a href="{% url 'specific:flowers' %}">flower</a>
        <a href="{% url 'specific:fruits' %}">fruits</a>
    </center>
</body>
</html>